html,body{min-height: 100%;overflow-x:hidden;}
*{padding:0px;margin: 0px;}
#mainMenuPan
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:31px;
	line-height:21px;
	/*padding:5px;*/
	background-color:#3F7FBF;
	color:white;

}
#extraPan
{
	position:absolote;
	visibility:hidden;
}
.workPanNormal
{
	position:fixed;
	top:31px;
	left:210px;
	right:0px;
	bottom:15px;
	padding:5px;
	background-color:#f4fbfb;
	overflow-x: hidden;
}
.sidebar{
	transition: all 0.3s;
	color:white;
}
.sidebarNormal
{
	position:fixed;
	top:31px;
	left:0px;
	width:200px;
	bottom:25px;
	padding:5px;
	background-color:#3F7FBF;
	overflow-y: auto;
	overflow-x: hidden;
	background:linear-gradient(to bottom,#3F7FBF,#267FD8)
}
.workPanFwork
{
	position:fixed;
	top:31px;
	left:0px;
	right:0px;
	bottom:15px;
	padding:5px;
	background-color:#f4fbfb;
	overflow-x: hidden;
}
.sidebarFwork
{
	position:absolute;
	top:31px;
	left:0px;
	width:0px;
	bottom:25px;
	/*visibility:hidden;*/
	background-color:#3F7FBF;
	word-wrap: break-word;
	overflow: hidden;
}
.sidebarFwork *{display: none}
.visibleFloatbar
{
	background-color: gray;
	color:white;
	padding:10px;
	position:fixed; top:31px; left:0px; right:0px;
	height:35%;
}
.invisibleFloatbar
{
	position:absolute; top:-10px; left:0px; width:0px;overflow: hidden;
	height:0px;
}
#statusPan
{
	position:fixed;
	height:15px;
	left:0px;
	right:0px;
	bottom:0px;
	padding:5px;
	background-color:#267FD8;
	font-size:15px;
	line-height:15px;
	color:white;
}


#mainMenuPan ul{padding:0px; margin:0px; list-style:none}
#mainMenuPan #menuItemList>li{float:left; padding:2px 5px;border-left: 1px solid white;margin-left:3px;line-height:26px;font-size:15px; cursor:pointer}
#mainMenuPan #menuItemList li:first-child{border-left: 0px solid white;}
#mainMenuPan #menuItemList li:hover{text-decoration: underline}
#mainMenuPan #menuItemTools li{float:right; padding:2px;margin-left:3px;line-height:21px;font-size:15px; cursor:pointer;margin-top:3px}
#mainMenuPan li img{height: 20px;vertical-align: middle;}

#searchPan{ border-radius: 10px; background-color:white}
#searchPan input{border:0px solid white; outline: none;margin:1px 10px}
.windowback{position: fixed;top:0px; left:0px; right:0px; bottom: 0px; background-color: rgba(100,100,100,0.2)}
.dialogBox{position: fixed; width: 50%; left:25%;top:25%;padding:10px;border-radius:5px; border:1px solid white;background-color:#feedda;color:black;}

.dialogBox p{width: 90%;margin: 0px auto 20px auto;}
.dialogBox input{width: 90%;margin:auto;}
.dialogBox button{display:block;width: 40%;margin:10px auto 0px auto;}

.selectedItem
{
	font-weight: bold;
	font-style: italic;
	border-top-left-radius: 10px;
}
.sidebarNormal ul{list-style: none;}
.sidebarNormal li{margin:5pt 10pt;cursor: pointer;}