* { 
user-select: none;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
}
.sidebar li{margin-top:20px;}
.menuList {margin-bottom: 20px}
.sendArea{background-color: #E6F0F8;padding:10px 5px 15px 5px;border-top:2px solid #2D7BB7;position: absolute;bottom: 0px;left: 0px;right: 0px;text-align: center}
.sendArea ul{margin:0px; padding:0px;list-style: none}
.sendArea li{display: inline-block;margin:5pt;}
.sendArea>*{vertical-align: middle;}
.sendArea .file{display: block;padding:.2em .2em .2em 0em;border:1px solid #3F7FBF;background-color:#D0E5FA;border-radius: 0px !important;}
.sendArea .file:before{content:'';display:inline-block;width:1em;height:1em;background-image: url('../image/png/attach.png');background-size:1em;margin-right: .2em;margin-left:.2em;vertical-align: middle;}
#attachArea{text-align: left;}
#attachArea .uploadPan{position:relative;display: block;background-color: #BAD5FC;border:0.2em dashed #004EBC;background-position: center;text-align: center;font-weight: bold;color:black;padding:0.5em; }
#attachArea .uploadPan img{height: 4em}
#attachArea .uploadPan input[type="file"]{opacity: 0;position:absolute;top:0px;left:0px;right: 0px;bottom: 0px;cursor: pointer;width: 100%}
#msgAud{vertical-align: middle;}
.messengerPan{background-color: #FBF3E8;height: 100%;position: relative;}
.messageArea{background-image: url('../image/svg/petite.svg');background-repeat: no-repeat;background-size: contain;background-color: #FBF3E8;overflow-y: scroll;overflow-x:hidden;height: 80%;}
.messageArea hr{clear: both;visibility: hidden;}

.itMessage{position:relative;margin-left:1em;background-color: #E0F7DD; border-radius:0.7em; border:1px solid darkgreen;max-width: 80%; padding:0.7em;margin-top:10px;margin-bottom: 10px;display: inline-block;float:left;padding-bottom: 2px}
.myMessage{position:relative;margin-right:1em;background-color: #F7F6DD; border-radius: 0.7em; border:1px solid orange;max-width: 80%; padding:0.7em;margin-top:10px;margin-bottom: 10px;display: inline-block;float:right;padding-bottom: 2px}

.myMessage:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-left-color: orange;
	border-right: 0;
	margin-top: -0.625em;
	margin-right: -0.625em;
}
.myMessage.sending{padding-left:1.2em;}
.myMessage.sending:before{
	display: block;
    content: '⌚';
    background-color: red;
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: -1px;
	padding-top:1em;
}
.itMessage:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: darkgreen;
	border-left: 0;
	margin-top: -0.625em;
	margin-left: -0.625em;
}
.itMessage.sending{padding-right:1.2em;}
.itMessage.sending:before{
	display: block;
    content: '⌚';
    background-color: red;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: -1px;
	padding-top:1em;
}

.myMessage img[type="emoji"],
.itMessage img[type="emoji"],
.editor img
{width: 1.5em;height: 1.5em;vertical-align: middle;}

.itMessage .info,.myMessage .info
{color:gray;border-top:1px solid silver;padding-top: 3px;font-size: 0.8em;text-align: center;margin-top: 5px}
.convList{display: flex;flex-direction: column-reverse;margin-top:10px;}
.convList li{cursor: pointer;padding:2px 0px;position: relative;transition: box-shadow 0.3s;margin-top:0px !important;}
.convList li:not(:first-child){border-bottom: 1px solid white}
.convList li span{overflow:hidden;max-width: calc(100% - 3em - 25px);display: inline-block;vertical-align: middle;height: 1em;line-height: 1em;word-break: break-all;}
.convList li:hover{box-shadow:0px 0px 2px deepskyblue}
.convList .active{border-bottom: 2px solid orange !important}
.convList .avatar{height: 1.5em; width: 1.5em;display: inline-block; object-fit: cover;vertical-align: middle;margin-right: 5px;border-radius: 5px}
.convList .option{height: 1.5em; width: 0.5em; object-fit: scale-down;vertical-align: middle;margin-right: 10px;float:right;}
.convList .msgCount{background-color:#D17D00;font-weight: bold;border-radius: 20px;border:2px solid yellow;padding:2px 4px;margin-top:3px;position: absolute;top:0px;left:0px;}

#audienceTxb{margin-right: 10px}
.ContactSetting{background-color: darkslategray;margin-bottom: 10px}
.ContactSetting img{width: 150px;height: 150px;margin:30px 30px 30px 80px; border-radius: 10px;border:10px solid white;}
.messengerAppArea.hide{display: none}
#attachBoard{margin:1em;}

:root{
	--size5:5px;
	--size10:10px;
	--size20:20px;
}
	.portrait #msgAudPar
	{    
		display: inline-block;
	    /* font-size: 30px; */
	    border: 2px solid white;
	    border-radius: 5px;
	    /* vertical-align: middle; */
	    margin-top: 6px;
	    float: right;
	    margin-right: 10px;
	    height: 34px;
	    width: 34px;
	    /* background-color: darkgoldenrod; */
	    overflow: hidden;
	}
	.portrait #audienceTxb{display: none}
	.portrait .sendArea .editor{
		width: 70%;
    	vertical-align: top;
    	background-color: white;
    	display: inline-block;
    	padding: calc(5pt - 2px);
    	min-height: 25px;
    	font-size: 25px;
    	text-align: left;
    	outline:none;
    	white-space: pre-wrap;
    	word-break: break-word;
    }
	.portrait .sendArea img.blue{width:7%; height: 25px;vertical-align:middle;}
	.portrait #attachArea>ul>li>img,.portrait #attachArea>ul>.btn
	{width: 30px; height: 30px;border: 2px solid royalblue;padding: 5px;background-color: dodgerblue;vertical-align: top;font-size: 1.5em;text-align: center;color:white}
	.portrait #attachBoard img{width: 30px;height: 30px;object-fit: scale-down;}
	.portrait .messengerAppArea{width: 100vh;border-left: 1px solid silver;text-align: center;vertical-align: top}
	.portrait .flagIcon:before{background-position-x: -74px !important;}
	.portrait .editIcon:before{background-position-x: -55px !important;}
	.portrait .deleteIcon:before{background-position-x: -16px !important;}
	.portrait .copyIcon:before{background-position-x: 2px !important;}
	.portrait .unsendIcon:before{background-position-x: -35px !important;}

	.landscape #msgAudPar
	{    
		    display: inline-block;
		    border: 2px solid white;
		    border-radius: 5px;
		    margin-top: 2px;
		    /* float: left; */
		    margin-left: 0.3em;
		    height: 22px;
		    width: 22px;
		    overflow: hidden;
	}
	.landscape .sendArea .editor{width: calc(100% - 100px);word-break: break-word;background-color:white;display: inline-block;padding:4px;min-height: 1em;text-align: left;white-space: pre-wrap;outline: none}
	.landscape .sendArea img.blue{width: 15px; height: 15px;vertical-align:top;}
	.landscape #attachArea>ul>li>img,.landscape #attachArea>ul>.btn
	{width: 30px; height: 30px;border: 2px solid royalblue;padding: 5px;background-color: dodgerblue;vertical-align: top;font-size: 1.5em;text-align: center;color:white;}
	.landscape #attachBoard img{width: 25px;height: 25px;object-fit: scale-down;}
	.landscape .messengerAppArea{width: 70%;border-left: 1px solid silver;text-align: center;vertical-align: top}
	.landscape .flagIcon:before{background-position-x: -74px !important;}
	.landscape .editIcon:before{background-position-x: -55px !important;}
	.landscape .deleteIcon:before{background-position-x: -16px !important;}
	.landscape .copyIcon:before{background-position-x: 2px !important;}
	.landscape .unsendIcon:before{background-position-x: -35px !important;}

.convList,.menuList{list-style: none;}
.menuList{margin:-7px; background-color: #042066;border-bottom-right-radius:20px;padding:10px;}
.menuList li{cursor: pointer;margin:var(--size20) auto;}
#profilePan {margin-bottom: 15px;margin-top: 15px}
#profilePan img{height: 2em;width: 2em;object-fit: cover;vertical-align: middle;border-radius: 5px; border:2px solid white;}
#profilePan span{margin-left: 5px;text-overflow: ellipsis;display: inline-block;height: 1em;width: calc(100% - 55px);overflow: hidden;word-break: break-all;}
#profilePan .avatar{display:inline-block; vertical-align:middle;height: 2em;width: 2em;border-radius: 5px; border:2px solid white;}
.flagIcon:before,.editIcon:before,.deleteIcon:before,.copyIcon:before,.unsendIcon:before
{background: url(../../res/image/png/menu-icons.png);background-repeat: no-repeat;background-size: 600%;}

.itMessage .msg-status:after{content:'✓';font-size:1em;margin-left:1em;font-weight: bold}
.itMessage .msg-status.received:after{content:'✓✓' !important;}
.itMessage .msg-status.seen:after{content:'✓✓' !important;color:dodgerblue !important;}

.myMessage .msg-status:before{content:'✓';font-size:1em;margin-right:1em;font-weight: bold}
.myMessage .msg-status.received:before{content:'✓✓' !important;}
.myMessage .msg-status.seen:before{content:'✓✓' !important;color:dodgerblue !important;}

#homePan{
	bottom: 0px; left:0px;
    position: absolute;
    padding: 3px;
    border-top: 2px solid white;
    border-top-right-radius: 30px;
    padding-right: 20px;
    background-color: #267FD8;
}
#sidebarScroll{
	height: calc(100% - 50px - 5em - 5pt);
	overflow-x: hidden;
	overflow-y: auto;
}
.maroon{
	background-color: maroon;
	color:white;
	border:1px solid rosybrown;
}

.searchType{
	padding-top: 10px;
}
.searchType .title{margin-bottom: 2px;display: inline-block;}
.searchType .foot{margin-top: 5px; text-align: right;}
.searchItem{
	 padding:5px 0px;
}
.searchItem:not(:last-child){border-bottom: 1px solid gray;}
.searchItem .side1{display: inline-block;vertical-align: middle;width: 55px;border-radius: 5px;overflow: hidden;}
.searchItem .side1 img{height: 50px;width: 50px;object-fit: scale-down; border-radius:5px;background-color: silver;vertical-align: middle; }
.searchItem .side2{display: inline-block;vertical-align: middle;width: calc(80% - 18px);margin-left: 10px}
.searchItem.mode1{padding:10px !important;}

.workingTable{
	height: 100%;width: 100%;
}

.text-avatar{
	width: 100%; position: relative;
}
.text-avatar:after{
	content:"";
	padding-top:100%;
	display: block;
}
.text-avatar .av-label{
	display: block;position: absolute;
	height: 70%;width: 100%;
	top:15%;
}
.text-avatar .av-label .av-content{
	/*display: inline-block;
	vertical-align: top;*/
    text-align: center;
    width: 100%;
    font-family: sans-serif;
}
.messageArea .file{display: block;cursor: pointer;}
.messageArea img.file{width: 30vw;height: 20vw;object-fit: cover}
.offline .menuList,.offline #mainMenuPan{background-color:#BF3F3F !important;color:white !important;}
.inputPan{border: 1px solid gray;border-radius: .4em;padding: .2em;text-align: left;overflow-x: hidden;white-space: nowrap;background-color: white}
.sendArea img.blue:last-child{float:right;}
.bold{font-weight: bold} .italic{font-style: italic;} .underline{text-decoration: underline;}
#xViewer{position: fixed;z-index: 9999;background-color:black;top:0px;left:0px;bottom: 0px;right: 0px}
#xViewerTitle{color:white;font-weight: bold;margin-left: 2em;display: inline-block;vertical-align: middle;}
#xViewerTitleBar{background-color: #202020;border-bottom: 1px solid #303030;box-shadow: 0px 1px 5px #353535;padding: 0.2em;}
#xViewerPan{text-align: center;height: calc(100vh - 5em);}
#xViewerPan img,.fileViewerPan video{max-height: 100%;max-width: 100%;object-fit: scale-down;}


.captureBtn-voice{background-image:url('../image/png/mic.png');background-position: center;background-size: auto 1.9em;background-repeat: no-repeat;}
.captureBtn-cam{background-image:url('../image/png/cam.png');background-position: center;background-size: auto 1.9em;background-repeat: no-repeat;}
.captureBtn-shot{background-image:url('../image/png/shot.png');background-position: center;background-size: auto 1.9em;background-repeat: no-repeat;}
.captureBtn-drone{background-image:url('../image/png/drone.png');background-position: center;background-size: auto 1.9em;background-repeat: no-repeat;}
.captureBtn-voice,.captureBtn-cam,.captureBtn-shot,.captureBtn-drone
{width:2.5em;height: 2.5em; border:2px solid dodgerblue; border-radius: 0.3em;position: relative;}
.captureBtn-voice input,.captureBtn-cam input,.captureBtn-shot input,.captureBtn-drone input
{height: 100%;width: 100%; position: absolute;top:0px;left: 0px; opacity: 0}