/*all device*/
html,body{min-height: 100%;overflow-x: hidden;}
*{padding:0px;margin: 0px;}
#mainMenuPan
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	line-height:21px;
	background-color:#3F7FBF;
	color:white;
	overflow: hidden;
}
#extraPan
{
	position:absolote;
	visibility:hidden;
}
.workPanNormal{position:fixed;padding:5px;background-color:#f4fbfb;overflow-x: hidden;}
.sidebar{
	color:white;
	position:fixed;
	background-color:#3F7FBF;
	overflow-y: auto;
	overflow-x: hidden;
	background:linear-gradient(to bottom,#3F7FBF,#267FD8);
}
#sidebarBtn{transition: transform 0.2s}
.workPanFwork{position:fixed;background-color:#f4fbfb;left:0px;right:0px;overflow-x: hidden;}
.visibleFloatbar
{
	background-color: gray;
	color:white;
	padding:10px;
	position:fixed; top:31px; left:0px; right:0px;
	height:35%;
}
.invisibleFloatbar
{
	position:absolute; top:-10px; left:0px; width:0px;overflow: hidden;
	height:0px;
}
#statusPan
{
	position:fixed;
	height:15px;
	left:0px;
	right:0px;
	bottom:0px;
	padding:5px;
	background-color:#267FD8;
	font-size:15px;
	line-height:15px;
	color:white;
}


#mainMenuPan ul{padding:0px; margin:0px; list-style:none}
#mainMenuPan #menuItemList>li{ padding:2px 5px;border-left: 1px solid white;/*line-height:26px;*/ cursor:pointer}
#mainMenuPan #menuItemList li:first-child{border-left: 0px solid white;}
#mainMenuPan #menuItemList li:hover{text-decoration: underline}
#mainMenuPan #menuItemTools li{float:right; padding:2px;line-height:21px;font-size:15px; cursor:pointer;}
#mainMenuPan li img{vertical-align: middle;}

#searchPan{background-color:white}
#searchPan input{border:0px solid white; outline: none;}
.windowback{position: fixed;top:0px; left:0px; right:0px; bottom: 0px; background-color: rgba(100,100,100,0.2)}
.dialogBox{position: fixed; width: 50%; left:25%;top:25%;background-color:#feedda;color:black;}
.dialogBox p{width: 90%;}
.dialogBox input{width: 90%;margin:auto;}
.dialogBox button{display:block;width: 40%;}
.selectedItem
{
	font-weight: bold;
	font-style: italic;
	border-top-left-radius: 10px;
}

/*mobile/portrait specifics*/
.portrait #mainMenuPan{height:10vw;}
.portrait .workPanNormal{font-size: 3.5em;top:10vw;left:0px;right:0px;bottom:0px;overflow-y: auto;}
.portrait .workPanFwork{font-size: 3.5em;top:10vw;bottom:0px;padding:5pt;overflow-y: auto;}
.portrait .sidebar{transition: bottom 0.5s,padding 0.5s;top:calc(10vw - 5px);bottom:0px;width:80vw;font-size: 4em;}
.portrait .sidebarNormal{left:0px;padding:0.5em;}
.portrait .sidebarFwork{left: -80vw;padding:0em;}
.portrait #pinPar{display: none;position: absolute; top: -200pt}
.portrait #projectBtn{display: none;position: absolute; top: -200pt}
.portrait #mainMenuPan #menuItemList>li{float:left;margin:5pt;font-size:15px;}
.portrait #mainMenuPan #menuItemTools li{margin-right:5pt;margin-top:5pt;}
.portrait #mainMenuPan li img{height: 8vw;width: 8vw;object-fit: cover;}
.portrait #searchPan{ border-radius: 1vw;margin-right:10px;}
.portrait #searchPan input{margin:0.6vw 2vw;font-size:6vw;width: 30vw;transition: width 0.3s}
.portrait #searchPan input:focus{width: 60vw;}
.portrait .dialogBox{padding:20px;border-radius:10pt; border:2pt solid white;}
.portrait .dialogBox p{margin: 0px auto 20px auto;}
.portrait .dialogBox button{margin:20pt auto 0px auto;}
.portrait #statusPan {display: none;}
/*desktop/landscape specifics*/
.landscape #mainMenuPan{height:31px;}
.landscape .workPanNormal{top:31px;left:210px;right:0px;bottom:15px;}
.landscape .workPanFwork{top:31px;bottom:15px;padding:5px;}
.landscape .sidebar{transition: all 0.3s;}
.landscape .sidebarNormal{top:30px;left:0px;width:200px;bottom:25px;padding:5px;}
.landscape .sidebarFwork{position:absolute;top:31px;left:0px;width:0px;bottom:25px;word-wrap: break-word;overflow: hidden;}
.landscape #mainMenuPan #menuItemList>li{float:left; margin-left:3px;font-size:15px;}
.landscape #mainMenuPan #menuItemTools{margin-right: 10px}
.landscape #mainMenuPan #menuItemTools li{margin-left:3px;margin-top:3px}
.landscape #mainMenuPan li img{height: 20px;}
.landscape #searchPan{border-radius: 5px;margin-right:10px;}
.landscape #searchPan input{margin:1px 10px}
.landscape .dialogBox{padding:10px;border-radius:5px; border:1px solid white;}
.landscape .dialogBox p{width: 90%;margin: 0px auto 20px auto;}
.landscape .dialogBox button{margin:10px auto 0px auto;}